.contaner {
    display: block;
    background-color: tomato;
    margin: 5px;
    color: white;
}
h3 {
    color: red;
}

span {
    display: inline;
    background-color: skyblue;
    padding: 5px;
    font-size: 20px;
}
.flex-contaner {
    display: flex;
    background-color: gray;
}
.flex-contaner div {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.none-flex {
    background-color: cadetblue;
}
.none-flex div {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.flex-direction {
    display: flex;
    flex-direction: column;
    background-color: gray;
}
.flex-direction div {
    width: 100 px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.justify-content1 {
    display: flex;
    justify-content: center;
    background-color: gray;
}
.justify-content1 div {
    width: 100 px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.justify-content2 {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}
.justify-content2 div {
    width: 100 px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.align-items {
    display: flex;
    align-items: center;
    height: 200px;
    background-color: gray;
}
.align-items div {
    width: 100 px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: gray;
}
.full-center div {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}

.display-none {
    border: 2px solid black;
    background-color: gray;
}
.display-none div {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: whhite;
}
.kutu-2 {
    display: none;
}
.visibility-hidden {
    border: 2px solid black;
    background-color: gray;
}
.visibility-hidden div {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}
.kutu2 {
    visibility: hidden;
}
.menu-cubugu {
    background-color: gray;
    height: 80px;
    padding: 0 20px;

    /* 1. Kutuları yan yana getirmek için patrona ne demeliyiz? */
    display: flex;
    /* 2. Birini en sola, diğerini en sağa itmek (aralarını açmak) için? */
    justify-content: space-between;
    /* 3. Kutuları dikey olarak (yukarı-aşağı) ortalamak için? */
    align-items: center;
}
.linkler {
    display: flex;
    gap: 20px;
}

/* position ile ilgili örnek denemeleri*/
.position {
    border: 2px solid gray;
    background-color: gray;
}
.position div {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
    color: white;
}

.box1 {
    position: relative;
    left: 150px;
    top: 175px;
}
.parent {
    position: relative;
    border: 2px solid gray;
    background-color: gray;
}
.child {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: absolute;
    bottom: 0;
    right: 0;
}
.urun-karti {
    width: 300px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    margin: 50px auto;
    position: relative;
}
.urun-karti img {
    width: 100%;
    display: block;
    border-radius: 5px;
}
.indirim {
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 20px;
    right: 20px;
}
.kutu {
    width: 200px;
    height: 100px;
    border: 2px solid gray;
    background-color: gray;
    /*overflow: hidden;taşanı gizler*/
    /*overflow: scroll;kaydırma çubuğu*/
    overflow: auto;
}
